.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;

    margin: auto;
    height: 100vh;
    width: 100vw;
    position: absolute;
  }

  .layout > div {
    background-color: salmon;
    text-align: center;
    text-align-last: center;
  }

  .date {
    grid-row: 1;
    grid-column: 1/6;
  }

  .data {
    grid-row: 2/5;
    grid-column: 3/6;
  }

  .map {
    grid-row: 2/6;
    grid-column: 1/3;
  }

  .suggestion {
    grid-row: 5;
    grid-column: 3/6;
  }