<div class="dategrid">
    <div class="weathermanbox">
        <div class="weatherman">
            Weatherman 
            <button class="button" type="button"> 
                <img class="buttonsize" src = "./assets/SVG-Information-Icon.svg" title="Placeholder"/> 
            </button>
        </div>
        <!--<img class="iconsmall" src = "./assets/SVG-Information-Icon.svg" title="Placeholder"/> -->
        <!--<button type="button"> <img class="buttonsize" src = "./assets/SVG-Information-Icon.svg" title="Placeholder"/> </button>-->
    </div>
    <div class="datebox">
        <button class="weatherdate" style="position:fixed; left: 50px;" type="button" >
            <p>{{fullDate[0]}}</p>
            <p>paindotmpfour</p>
        </button>
        <button class="weatherdate" style="position:fixed; left: 275px;" type="button">
            <p>{{fullDate[1]}}</p>
            <p>paindotmpfour</p>
        </button>
        <button class="weatherdate" style="position:fixed; left: 500px;" type="button">
            <p>{{fullDate[2]}}</p>
            <p>paindotmpfour</p>
        </button>
        <button class="weatherdate" style="position:fixed; left: 725px;" type="button">
            <p>{{fullDate[3]}}</p>
            <p>paindotmpfour</p>
        </button>
        <button class="weatherdate" style="position:fixed; left: 950px;" type="button">
            <p>{{fullDate[4]}}</p>
            <p>paindotmpfour</p>
        </button>
        <button class="weatherdate" style="position:fixed; left: 1175px;" type="button">
            <p>{{fullDate[5]}}</p>
            <p>paindotmpfour</p>
        </button>
        <button class="weatherdate" style="position:fixed; left: 1400px;" type="button">
            <p>{{fullDate[6]}}</p>
            <p>paindotmpfour</p>
        </button>

    </div>
</div>

