<div class="dategrid">
    <div class="weathermanbox">
        <div class="weatherman">
            Weatherman 
            <button class="button" type="button"> 
                <img class="buttonsize" src = "./assets/SVG-Information-Icon.svg" title="Placeholder"/> 
            </button>
        </div>
    </div>
    <div class="datebox">
        <div><button class="weatherdate" type="button" >
            <p>{{fullDate[0]}}</p>
            <div id="date1">paindotmpfour</div>
        </button></div>
        <div><button class="weatherdate"type="button">
            <p>{{fullDate[1]}}</p>
            <div id="date2">paindotmpfour</div>
        </button></div>
        <div><button class="weatherdate" type="button">
            <p>{{fullDate[2]}}</p>
            <div id="date3">paindotmpfour</div>
        </button></div>
        <div><button class="weatherdate" type="button">
            <p>{{fullDate[3]}}</p>
            <div id="date4">paindotmpfour</div>
        </button></div>
        <div><button class="weatherdate" type="button">
            <p>{{fullDate[4]}}</p>
            <div id="date5">paindotmpfour</div>
        </button></div>
        <div><button class="weatherdate" type="button">
            <p>{{fullDate[5]}}</p>
            <div id="date6">paindotmpfour</div>
        </button></div>
        <div><button class="weatherdate" type="button">
            <p>{{fullDate[6]}}</p>
            <div id="date7">paindotmpfour</div>
        </button></div>

    </div>
</div>

