.datagrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.info {
    grid-row: 1;
    grid-column: 1/4;
}

.windspeed {
    grid-row: 3;
    grid-column: 1;
}

.winddirection {
    grid-row: 3;
    grid-column: 2;
}
