<div class="datagrid">
    <form class="searchField" action="">
        <div class="inputCity">
            <label for="city">City Name</label>
            <input type="city" id="city" name="city">
        </div>
        <div class="inputTime">
            <label for="time">Enter time for weatherforcast: </label>
            <input type="time" id="time" name="time">
        </div>
        <button class="submitButton" type="submit" action="someshit">Get Weather</button>
    </form>
            <!--
            Berlin or sum shit:   Latitude: {{weatherInfo.latitude}}  Longitude: {{weatherInfo.longitude}}
            <button>test</button> 
            -->

    <div class="weatherDataGrid">
        <div class="temperature">
            <span>Temperature: {{weatherInfo.current_weather.temperature}} °C</span>
        </div>
        <div class="downfall">
            <span>Current time: {{weatherInfo.current_weather.time}}</span>
        </div>

        <div class="windspeed">
            <span>Windspeed: {{weatherInfo.current_weather.windspeed}} km/t</span>
        </div>
        <div class="winddirection">
            <div class="sizeBox">
            <!-- WeatherCompass -->
            <!-- <span>Winddirection: {{weatherInfo.current_weather.winddirection}}</span> -->
            <!-- <img src="./assets/Compass_360_(en).svg" class="windCompass"> -->
            <img src="./assets/compass-up-arrow.svg" class="windArrow" id="windArrow">
            </div>
        </div>
    </div>

    <div class="animejsBox" id="animejsBox">here</div>

</div>

