<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 5px;
      color: rgb(0, 0, 0);
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
  
  
  <style>
    div {text-align: center;}
  </style>
  
  
  <body>
    <div style = "position:fixed; left:62.25%; top:76.5%">
      <font size = "6">Aktivitet #2</font>
    </div>
  </body>
  
  
  <body>
    <div style = "position:fixed; left:39%; top:83%">
      <font size = "3">Her vil der stå noget forklarende tekst til hvordan aktiviteten foregår, hvor man burde være, hvad der skal bruges og så videre.</font>
    </div>
  </body>
  
  
  <div style = "position:fixed; left:58%; top:91.75%">
    <span class = "black"></span>
  </div>
  
  <div style = "position:fixed; left:65%; top:91.75%">
    <span class = "blue"></span>
  </div>
  
  <div style = "position:fixed; left:72%; top:91.75%">
    <span class = "black"></span>
  </div>
  
  
  <div style = "position:fixed; left:51%; top:92%">
    <span class = "arrowline"></span>
  </div>
  <div style = "position:fixed; left:50.9%; top:91.5%">
    <span class = "arrowtop"></span>
  </div>
  <div style = "position:fixed; left:50.9%; top:92.5%">
    <span class = "arrowbottom"></span>
  </div>
  
  <div style = "position:fixed; left:79%; top:92%">
    <span class = "arrowline"></span>
  </div>
  <div style = "position:fixed; left:82%; top:92.5%">
    <span class = "arrowtop"></span>
  </div>
  <div style = "position:fixed; left:82%; top:91.5%">
    <span class = "arrowbottom"></span>
  </div>
  
  
