div {
    display: flex;
    padding: 10px;
    align-items: center;
}


.black {
    height: 10px;
    width: 50px;
    background-color: rgb(0, 0, 0);;
    border-radius: 100px;
    margin: 0 20px;
}

.blue {
    height: 10px;
    width: 50px;
    background-color: rgb(18, 49, 129);;
    border-radius: 100px;
    margin: 0 20px;
}


.arrowline {
    height: 7px;
    width: 50px;
    background-color: rgb(0, 0, 0);;
    border-radius: 100px;
    margin: 0 20px;
}

.arrowtop {
    transform: rotate(135deg); 
    height: 7px;
    width: 15px;    
    background-color: rgb(0, 0, 0);;
    border-radius: 100px;
    margin: 0 20px;
}

.arrowbottom {
    transform: rotate(45deg); 
    height: 7px;
    width: 15px;    
    background-color: rgb(0, 0, 0);;
    border-radius: 100px;
    margin: 0 20px;
}

