<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 5%;
      color: rgb(0, 0, 0);
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
  
  
  <style>
    div {text-align: center;}
  </style>
  
  <div class="suggestionsFlexBox">
  <div class="textStuff">
    <div style="font-size: 37.5px">
      {{this.current_suggestionnavn[this.index]}}
    </div>
  
  
    <div>
      <div class = p2>{{this.current_suggestion[this.index]}}</div>
    </div>
  </div>
  
<div class="arrowsAndDifficulity">  
  <div class="leftArrow" (click)="buttonClicked(false)">
    <img class = "clickable" src = "./assets/SVG-Arrow-Icon.svg" style="transform:rotate(180deg);" /> 
  </div>

<div class="difficulity">
<div>
  <span class = "black"></span>
</div>

<div>
  <span class = "blue"></span>
</div>

<div>
  <span class = "black"></span>
</div>
</div>
<div class="right arrow" (click)="buttonClicked(true)">
  <img class = "clickable" src = "./assets/SVG-Arrow-Icon.svg"/> 
</div>
</div>
</div>
