<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 10px;
      color: rgb(0, 0, 0);
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
  
  
  <style>
    div {text-align: center;}
  </style>
  
  
  <body>
    <div style = "position:fixed; left:737px; top:350px">
      <font size = "10">Aktivitet #2</font>
    </div>
  </body>
  
  
  <body>
    <div style = "position:fixed; left:460px; top:425px">
      <font size = "4">Her vil der stå noget forklarende tekst til hvordan aktiviteten foregår, hvor man burde være, hvad der skal bruges og så videre.</font>
    </div>
  </body>
  
  
  <div style = "position:fixed; left:725px; top:500px">
    <span class = "black"></span>
  </div>
  
  <div style = "position:fixed; left:820px; top:500px">
    <span class = "blue"></span>
  </div>
  
  <div style = "position:fixed; left:915px; top:500px">
    <span class = "black"></span>
  </div>
  
  
  <div style = "position:fixed; left:630px; top:501px">
    <span class = "arrowline"></span>
  </div>
  <div style = "position:fixed; left:630px; top:497px">
    <span class = "arrowtop"></span>
  </div>
  <div style = "position:fixed; left:630px; top:505px">
    <span class = "arrowbottom"></span>
  </div>
  
  <div style = "position:fixed; left:1010px; top:501px">
    <span class = "arrowline"></span>
  </div>
  <div style = "position:fixed; left:1050px; top:505px">
    <span class = "arrowtop"></span>
  </div>
  <div style = "position:fixed; left:1050px; top:497px">
    <span class = "arrowbottom"></span>
  </div>
  
  
